<%- include("partials/header.ejs") %>

<div class="container" style="padding: 30px; margin-top: 86px; background-color: whitesmoke; border-radius: 10px;">
    <h1>My Anime Schedules</h1>
    <div class="row">
        <div class="d-flex flex-column flex-lg-row flex-wrap gap-2 justify-content-center">
            <% if (locals.animes && locals.animes.length > 0) { %>
                <% animes.forEach(anime => { %>
                    <div class="d-flex flex-column align-items-center bg-secondary" style="width: 150px;">
                        <img src="<%= anime.image %>" width="150" height="190">
                        <div class="anime-info-wrap text-center">
                            <% if (anime.title) { %>
                                <p><b>Title: </b><%= anime.title %></p>
                            <% } %>
                            <% if (anime.episodes) { %>
                                <p><b>Episode(s): </b><%= anime.episodes %></p>
                            <% } %>
                            <% if (anime.day && anime.time) { %>
                                <p><b>Time: </b><%= anime.broadcast %></p>
                            <% } %>
                            <a class="btn btn-danger" href="/remove_anime/<%= anime._id %>" role="button">Remove</a>
                        </div>
                    </div>
                    <hr>
                <% }); %>
            <% } else { %>
                <span>No match animes</span>
            <% } %>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>